<!DOCTYPE html>
<html>

<head>
    <title>Sign in</title>
</head>

<body>
    <h1>Sign in</h1>

    <form action="/login" method="post">
        <p>
            Username:<br />
            <input type="text" name="username" required>
        </p>
        <p>
            Password:<br />
            <input type="password" name="password" required>
        </p>
        <input type="submit" value="Login">
    </form>

    <p>
        New user? <a href="/register">Register</a>
    </p>
</body>

</html>

