{% extends "layout.html" %}

{% block content %}

<h2>Sign in</h2>

<form action="/login" method="post">
  <p>
    <label for="username">Username</label>:<br>
    <input
      id="username"
      type="text"
      name="username"
      value="{{ filled.username }}"
      maxlength="16"
      required
    >
  </p>

  <p>
    <label for="password">Password</label>:<br>
    <input
      id="password"
      type="password"
      name="password"
      maxlength="100"
      required
    >
  </p>

  <p>
    <input type="submit" value="Sign in">
  </p>
</form>

<p>
  New user?
  <a href="/register">Register</a>
</p>

{% endblock %}
