{% extends "layout.html" %}

{% block content %}

<h2>Add new link</h2>

<form action="/add_link" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

  <p>
    <label for="title">Title</label>:<br>
    <input
      id="title"
      type="text"
      name="title"
      value="{{ filled.title }}"
      minlength="3"
      maxlength="50"
      required
    >
  </p>

  <p>
    <label for="url">URL</label>:<br>
    <input
      id="url"
      type="text"
      name="url"
      value="{{ filled.url }}"
      placeholder="https://example.com"
      maxlength="300"
      required
    >
  </p>

  <p>
    <label for="notes">Notes</label>:<br>
    <textarea
      id="notes"
      name="notes"
      rows="5"
      cols="50"
      maxlength="1000"
    >{{ filled.notes }}</textarea>
  </p>

  <p>Categories:</p>

  {% for category in categories %}
    <p>
      <input
        id="category_{{ category.id }}"
        type="checkbox"
        name="categories"
        value="{{ category.id }}"
        {% if category.id|string in selected_category_ids %}checked{% endif %}
      >
      <label for="category_{{ category.id }}">{{ category.name }}</label>
    </p>
  {% endfor %}

  <p>
    <input type="submit" value="Save">
  </p>
</form>

<p>
  <a href="/links">Back to links</a>
</p>

{% endblock %}
